@media (max-width: 1000px) {
    .top {
        margin-top: 123px;
        margin-bottom: 230px;
    }

    .footer__contacts {
        margin-right: 0;
    }

    .top__content {
        width: 333px;
    }

    .top__img {
        top: -116px;
        left: 270px;
    }

    .about__content {
        width: 299px;
    }

    .about__images {
        left: 339px;
    }

    .about__line {
        left: 316px;
    }

    .products__content {
        width: 300px;
    }

    .products__items {
        width: 647px;
    }

    .products__inner {
        gap: 20px;
    }

    .products__line {
        left: 322px;
    }

    .stages {
        &__item-img {
            width: 128px;
            height: 225px;
        }
    }

    .stages__items {
        row-gap: 37px;
        column-gap: 35px;
        width: 635px;
    }

    .stages__content {
        width: 297px;
    }

    .courses {
        &__content {
            width: 300px;
        }
    }

    .teachers {
        &__items {
            row-gap: 30px;
        }

        &__item {
            width: 260px;
        }

        &__item-img {
            width: 170px;
        }

        &__item-dscr {
            width: 140px;
            padding: 7px;
            top: 90px;
        }

        &__name {
            font-size: 11px;
        }

        &__item-text {
            font-size: 9px;
        }
    }

    .reviews__slider {
        width: 660px;
        min-height: 414px;
    }

    .certificates__content {
        width: 300px;
    }

    .certificates__slider-img {
        width: 280px;
    }

    .certificates__slider {
        width: 870px;
    }

    .promo__title {
        width: 610px;
    }

    .contacts__img {
        width: 335px;
        height: 510px;
    }

    .form {
        margin-top: 59px;
    }

    .questions__inner{
        grid-template-columns: 300px auto;
    }
}


@media (max-width: 900px) {
    .footer__inner {
        flex-wrap: wrap;
    }

    .footer__contacts {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .footer__social {
        justify-content: center;
    }

    .products__item {
        width: 240px;
    }

    .products__inner {
        gap: 30px;
    }

    .stages {
        &__content {
            width: 191px;
        }
    }

    .stages {
        &__item-text {
            font-size: 12px;
        }

        &__item-img {
            width: 100px;
            height: 160px;
        }
    }

    .courses {
        &__items {
            width: 413px;
        }
    }

    .courses {
        &__item {
            width: 195px;
        }

        &__item-title {
            font-size: 12px;
        }

        &__item-text {
            font-size: 10px;
            margin-top: 4px;
        }

        &__item-title-decor {
            font-size: 8px;
            top: 100px;
            padding: 10px 10px 10px 7px;
        }

        &__item-time {
            top: 150px;
            font-size: 8px;
            padding: 7px 10px 7px 10px;
        }

        &__item-price {
            font-size: 8px;
            top: 240px;
            right: -7px;
            padding: 12px 12px 12px 7px;
        }

        &__btn {
            margin-top: 10px;
            font-size: 12px;
        }
    }

    .teachers {
        &__inner {
            gap: 10px;
        }

        &__content {
            width: 310px;
        }

        &__items {
            width: 435px;
            column-gap: 15px;
        }

        &__item {
            width: 210px;
        }

        &__item-img {
            width: 142px;
        }

        &__item-dscr {
            min-height: 59px;
            width: 122px;
            top: 75px;
        }

        &__name {
            font-size: 8px;
        }

        &__item-text {
            font-size: 7px;
        }
    }

    .reviews__slider-img {
        height: 290px;
    }

    .reviews__slider {
        width: 511px;
        min-height: 344px;
    }

    .reviews__slider-name {
        font-size: 12px;
    }

    .reviews__slider-text {
        font-size: 10px;
    }

    .reviews__slider-btn {
        width: 160px;
        font-size: 10px;
    }

    .reviews__slider-svg {
        margin-top: 0;
    }

    .promo__title {
        width: 500px;
    }

    .contacts__img {
        width: 250px;
        height: 450px;
    }

    .form {
        margin-top: 0;
    }
}


@media (max-width: 769px) {
    body {
        font-size: 10px;
    }

    .container {
        padding-left: 64px;
        padding-right: 64px;
    }

    .header__phone::before {
        width: 14px;
        height: 14px;
        background-size: cover;
        top: 0;
        left: 5px;
    }

    .top {
        margin-top: 130px;
        margin-bottom: 274px;
    }

    .top__content {
        width: 230px;
    }

    .top__title {
        font-size: 20px;
        line-height: 23px;
    }

    .top__img {
        top: -86px;
        left: 160px;
    }

    .top__btn {
        width: 120px;
        height: 45px;
    }

    .about {
        padding-top: 89px;
        padding-bottom: 121px;
    }

    .about__content {
        width: 200px;
    }

    .title {
        font-size: 15px;
        line-height: 17px;
    }

    .about__text {
        line-height: 11px;
    }

    .about__images-text {
        font-size: 6px;
        line-height: 7px;
        margin-top: 0;
    }

    .about__img1, .about__img3 {
        width: 120px;
        height: 120px;
    }

    .about__img2 {
        width: 190px;
        height: 195px;
    }

    .about__line {
        bottom: -50px;
        left: 293px;
    }

    .about__images {
        top: 0;
        left: 315px;
        gap: 10px;
    }

    .products__item {
        width: 200px;
    }

    .products__line {
        left: 279px;
    }

    .products__item-price, .products__item-name {
        font-size: 12px;
    }

    .products__item-text {
        font-size: 8px;
    }

    .products__btn {
        width: 104px;
        height: 36px;
        font-size: 12px;
    }

    .stages {
        &__item-num {
            font-size: 20px;
            line-height: 23px;
        }

        &__item-text {
            font-size: 8px;
            line-height: 9px;
        }

        &__item-img {
            width: 85px;
            height: 150px;
        }
    }

    .stages__items {
        width: 435px;
        row-gap: 25px;
    }

    .courses__content {
        width: 191px;
    }

    .courses__inner {
        column-gap: 10px;
    }

    .teachers {
        &__item-text {
            margin-top: 3px;
        }
    }

    .reviews__slider-img {
        width: 200px;
        height: 200px;
    }

    .reviews__slider {
        width: 420px;
        min-height: 240px;
    }

    .reviews__slider-text {
        line-height: 11px;
    }

    .reviews__slider-btn {
        width: 124px;
        height: 39px;
        font-size: 8px;
    }

    .reviews__slider-svg {
        width: 15px;
    }

    .reviews__slider-name {
        margin-top: 10px;
    }

    .reviews__slider-text {
        margin-top: 10px;
    }

    .swiper-pagination-bullet {
        width: 32px;
    }

    .certificates__content {
        width: 195px;
    }

    .certificates__slider-img {
        width: 200px;
    }

    .certificates__slider {
        width: 620px;
    }

    .certificates__inner {
        gap: 10px;
    }

    .swiper-pagination.certificates__slider-pagination {
        bottom: -20px;
        left: 151px;

    }

    .certificates__items {
        padding-bottom: 74px;
    }

    .promo__btn {
        width: 125px;
        height: 40px;
    }

    .promo__title {
        width: auto;
    }

    .promo {
        height: 150px;
    }

    .form {
        height: 285px;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .form__title {
        margin-bottom: 20px;
    }

    .form__btn {
        width: 170px;
        height: 50px;
    }

    .contacts__img {
        width: 187px;
        height: 285px;
    }

    .questions__title{
        font-size: 12px;
    }

    .questions__title::before {
        width: 9px;
        height: 9px;
    }

    .questions__inner {
        grid-template-columns: 175px auto;
    }
}


@media (max-width: 705px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .products__inner {
        flex-direction: column;
        align-items: center;
    }

    .products__content {
        text-align: center;
    }

    .products {
        margin-top: 50px;
    }

    .products__items {
        max-width: 540px;
        width: 100%;
    }

    .products__content {
        width: 380px;
    }

    .products__line {
        left: 10px;
    }

    .stages__inner {
        flex-direction: column;
        align-items: center;
    }

    .stages {
        padding-top: 50px;
    }

    .stages__items {
        max-width: 500px;
        width: 100%;
    }

    .stages__content {
        width: 300px;
        text-align: center;
    }

    .courses__content {
        width: 380px;
        text-align: center;
        margin-bottom: 30px;
    }

    .courses__inner {
        margin-top: 59px;
        flex-direction: column;
        align-items: center;
    }

    .courses__items {
        width: 80%;
    }

    .teachers__inner {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 59px;
    }

    .teachers__items {
        margin-top: 30px;
    }

    .teachers__content {
        width: 380px;
        text-align: center;
    }

    .reviews__inner {
        flex-direction: column;
        margin-bottom: 59px;
        margin-top: 50px;
    }

    .reviews__content {
        text-align: center;
    }

    .reviews__slider {
        max-width: 550px;
        width: 100%;
    }

    .reviews__content {
        margin-inline: auto;
    }

    .certificates__inner {
        display: flex;
        flex-direction: column;
        margin-bottom: 59px;
        margin-top: 50px;
        gap: 30px;
        align-items: center;
    }

    .certificates__content {
        text-align: center;
        width: 374px;
    }

    .swiper-pagination.certificates__slider-pagination {
        text-align: left;
    }

    .certificates__slider {
        width: 565px;
        text-align: center;
    }

    .swiper-pagination.certificates__slider-pagination {
        left: 182px;
    }

    .certificates__line {
        left: -20px;
    }

    .reviews__line {
        left: 29px;
    }

    .promo__inner {
        justify-content: space-around;
    }

    .questions__inner{
        grid-template-columns: 1fr;
        margin-bottom: 50px;
    }

    .questions__content-title{
        text-align: center;
    }
}


@media (max-width: 600px) {
    .header__menu {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        z-index: 10;
        padding: 25px 34px 25px 46px;
        background-color: #7B6152;
    }

    .menu__btn {
        display: block;
    }

    .menu--open {
        animation: menu-open .55s ease 0s 1 normal;
        display: block;
    }

    .menu--close {
        animation: menu-close .55s ease 0s 1 reverse;
    }

    .header__menu-list {
        flex-direction: column;
        min-width: 73px;
        color: #FFF8F3;
    }

    .courses__items {
        width: auto;
    }

    .certificates__slider {
        width: 450px;
    }

    .swiper-pagination.certificates__slider-pagination {
        left: 124px;
    }

    .form__btn {
        width: 85px;
        height: 40px;
        font-size: 10px;
    }

}


@media (max-width: 510px) {
    .footer {
        font-size: 14px;
    }

    .footer__inner {
        flex-direction: column;
    }

    .footer__menu-list {
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .stages__line {
        left: 0;
    }

    .courses__line {
        left: -30px;
    }
}


@media (max-width: 480px) {
    .top {
        margin-top: 110px;
        margin-bottom: 130px;
    }

    .top__content {
        width: 167px;
    }

    .top__title {
        font-size: 15px;
        line-height: 18px;
    }

    .top__img {
        top: -58px;
        left: 149px;
    }

    .top__text {
        font-size: 10px;
    }

    .top__btn {
        width: 91px;
        height: 34px;
        font-size: 10px;
        margin-top: 15px;
    }

    .about {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .about__content {
        width: 172px;
    }

    .about__img1, .about__img3 {
        width: 80px;
        height: 80px;
    }

    .about__img2 {
        width: 140px;
        height: 140px;
    }

    .about__images-text {
        display: none;
    }

    .about__images {
        top: 20px;
        left: 198px;
        gap: 5px;
        align-items: flex-end;
    }

    .about__line {
        bottom: -7px;
        left: 187px;
    }

    .products__items {
        max-width: 416px;
    }

    .products__content {
        width: 300px;
    }

    .products__text {
        line-height: 11px;
    }

    .stages__items {
        max-width: 440px;
    }

    .stages__item {
        gap: 20px;
    }

    .courses__content {
        width: 300px;
    }

    .reviews__content {
        width: 300px;
        margin-bottom: 30px;
    }

    .reviews__slider-btn {
        bottom: 20px;
    }

    .reviews__slider {
        max-width: 420px;
    }

    .certificates__content {
        width: 300px;
    }

    .contacts__img {
        display: none;
    }

    .contacts__inner {
        gap: 0;
    }

    .questions__inner {
        margin-bottom: 50px;
    }

    .promo {
        margin-bottom: 50px;
    }
}


@media (max-width: 440px) {
    .courses__items {
        grid-template-columns: 1fr;
    }
    .courses__line {
        left: -105px;
    }

    .teachers__items {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .teachers__item:nth-child(2n) {
        justify-self: auto;
    }

    .teachers__content {
        width: 300px;
    }

    .certificates__slider {
        width: 320px;
        text-align: center;
    }

    .swiper-pagination.certificates__slider-pagination {
        left: 36px;
    }
}


@media (max-width: 420px) {
    .products__item {
        width: 150px;
    }

    .stages__items {
        gap: 20px 25px;
    }

    .stages {
        &__item-img {
            width: 67px;
            height: 101px;
        }
    }
    .reviews__slider-item {
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .reviews__slider-btn {
        left: 50%;
        transform: translateX(-50%);
    }

    .reviews__line {
        left: -30px;
    }

    .certificates__line {
        left: -30px;
    }

    .reviews__line {
        left: 10px;
    }

    .promo__btn {
        width: 79px;
        height: 32px;
        font-size: 10px;
    }
}


@media (max-width: 360px) {
    .top {
        margin-top: 61px;
        margin-bottom: 50px;
    }

    .top__content {
        width: 200px;
    }

    .top__title {
        font-size: 18px;
        line-height: 21px;
    }

    .top__img {
        top: -23px;
        left: 178px;
        width: 180px;
    }

    .top__text {
        font-size: 10px;
    }

    .about__content {
        width: 234px;
    }

    .about__img2, .about__img3 {
        display: none;
    }

    .about {
        padding-top: 25px;
        padding-bottom: 39px;
    }

    .about__text {
        font-size: 8px;
        line-height: 9px;
    }

    .about__images {
        top: 15px;
        left: 270px;
    }

    .about__line {
        bottom: -19px;
        left: 259px;
    }

    .products__content {
        width: 235px;
    }

    .stages__item-text {
        font-size: 6px;
        line-height: 7px;
    }

    .stages__text {
        font-size: 10px;
    }

    .stages__item-num {
        font-size: 12px;
        line-height: 14px;
    }

    .courses__line {
        left: -80px;
    }

    .teachers__item {
        width: 300px;
    }

    .teachers__content {
        width: 200px;
    }

    .teachers__item-img {
        width: 204px;
    }

    .teachers__item-dscr {
        top: 129px;
        right: 0;
        width: 156px;
    }

    .reviews__slider-content {
        width: 250px;
    }

    .certificates__slider {
        width: 274px;
    }

    .swiper-pagination.certificates__slider-pagination {
        left: 14px;
    }
}