html {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: black;
    background-color: #FFF8F3;
}

button {
    border: none;
    background-color: transparent;
}

.title {
    font-family: 'Yeseva One', sans-serif;
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

li {
    list-style: none;
}

.container {
    max-width: 1202px; //увеличить на 30px
    margin: 0 auto;
    padding: 0 20px;
}

.btn {
    font-weight: 600;
    display: flex;
    width: 150px;
    height: 55px;
    justify-content: center;
    align-items: center;
    background-color: #FFBD59;
    font-size: 14px;
}

.line {
    display: flex;
    position: absolute;
    align-items: center;
}

.btn:hover {
    background-color: #faa82b;
    transition: .3s;
    cursor: pointer;
}


//HEADER
.menu__btn {
    display: none
}

.header__inner, .footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
}

.menu__item-link {
    text-transform: uppercase;
}

.menu__item-link:hover, .header__phone:hover, .footer__phone:hover, .footer__email:hover {
    scale: 1.2;
    transition: .3s;
}

.menu__list {
    display: flex;
    gap: 20px;
}

.header__phone {
    position: relative;
    padding-left: 23px;
}

.header__phone::before {
    content: "";
    position: absolute;
    background-image: url("../img/phone.png");
    width: 20px;
    height: 20px;
    top: -4px;
    left: 0;
}


//FOOTER
.footer {
    background-color: white;
    color: #333;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 20px;
}

.footer__social {
    display: flex;
    gap: 15px;
}

.footer__inner {
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer__social-img:hover {
    scale: 2;
    transition: .3s;
}


//TOP
.top {
    margin-top: 195px;
    margin-bottom: 415px;
    overflow-x: clip;
}

.top__content {
    width: 390px;
    position: relative;
}

.top__title {
    font-family: 'Yeseva One', sans-serif;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 15px;
}

.top__btn {
    margin-top: 50px;
}

.top__img {
    position: absolute;
    top: -170px;
    left: 245px;
    z-index: -10;
}


//ABOUT
.about {
    color: #FAFAFA;
    background-color: #A5978E;
    padding-top: 128px;
    padding-bottom: 186px;
}

.about__inner {
    position: relative;
}

.about__content {
    width: 370px;
}

.about__images {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: -70px;
    left: 515px;
}

.about__images-text {
    margin-top: 10px;
    font-size: 11px;
    line-height: 12px;
}

.about__line {
    bottom: -125px;
    left: 380px;
}

.line__line {
    background-color: #7B6152;
    width: 10000px;
    height: 1px;
    opacity: 0.8;
}


//PRODUCTS
.products {
    margin-top: 150px;
}

.products__inner {
    display: flex;
    gap: 69px;
    position: relative;
}

.products__content {
    width: 372px;
}

.products__items {
    width: 673px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 50px;
    margin-bottom: 70px;
    justify-content: space-between;
}

.products__item {
    width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.products__item-price, .products__item-name {
    font-family: 'Yeseva One', sans-serif;
    font-size: 16px;
    line-height: 18px;
}

.products__item-price {
    margin-top: 8px;
}

.products__item-name {
    margin-top: 12px;
}

.products__item-text {
    font-size: 12px;
    line-height: 13px;
    margin-top: 16px;
    min-height: 45px;
}

.products__line {
    bottom: -17px;
    left: 380px;
}

.products__btn {
    margin-top: 15px;
}

.products__item-img {
    width: 94%;
}


//STAGES
.stages {
    padding-top: 159px;

    &__inner {
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }

    &__content {
        width: 372px;
    }
}

.stages {
    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 72px 25px;
        margin-bottom: 72px;
        position: relative;
        width: 764px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        gap: 33px;
    }

    &__item-content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    &__item-num {
        margin: 0;
        color: #BEA495;
        font-family: 'Yeseva One', sans-serif;
        font-size: 30px;
        line-height: 35px;
        text-align: right;
    }
}

.stages__item:nth-child(4n+1), .stages__item:nth-child(4n+2) {
    flex-direction: row;

    .stages__item-num {
        text-align: left;
    }
}

.stages__item:hover {
    background-color: rgba(201, 201, 201, 0.22);
    transition: .3s;
}

.stages__line {
    bottom: -90px;
    left: -20px;
}


//COURSES
.courses {
    &__inner {
        display: flex;
        margin-top: 159px;
        column-gap: 73px;
    }

    &__content {
        width: 369px;
    }

    &__items {
        display: grid;
        width: 664px;
        position: relative;
        margin-bottom: 79px;
        grid-template-columns: 1fr 1fr;
        row-gap: 50px;
        column-gap: 30px;
    }

    &__item {
        width: 269px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    &__img {
        width: 100%;
    }

    &__item:nth-child(2n) {
        justify-self: end;
    }

    &__item-title {
        font-family: 'Yeseva One', sans-serif;
        font-size: 16px;
        line-height: 18px;
        margin-top: 28px;
    }

    &__item-text {
        margin-top: 15px;
    }

    &__item-title-decor, &__item-time, &__item-price {
        color: white;
        font-family: 'Yeseva One', sans-serif;
        position: absolute;
        font-size: 11px;
        background-color: #BEA495;
    }

    &__item-title-decor {
        top: 166px;
        left: 0;
        padding: 15px 15px 15px 10px;
    }

    &__item-time {
        top: 224px;
        left: 0;
        padding: 7px 15px 7px 16px;
    }

    &__item-price {
        top: 329px;
        right: -14px;
        padding: 18px 18px 18px 10px;
    }

    &__btn {
        margin-top: 24px;
        width: 129px;
        height: 42px;
    }

    &__line {
        bottom: -98px;
        left: -61px;
    }
}


//TEACHERS
.teachers {
    background-color: #A5978E;

    &__inner {
        gap: 5px;
        margin-top: 159px;
        margin-bottom: 150px;
        display: flex;
        padding-top: 50px;
        padding-bottom: 83px;
        justify-content: space-between;
    }

    &__content {
        width: 391px;
        color: white;
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 720px;
        row-gap: 78px;
        column-gap: 5px;
    }

    &__item {
        width: 325px;
        position: relative;

    }

    &__item:nth-child(2n) {
        justify-self: end;
    }

    &__item-dscr {
        background-color: #7B6152;
        color: white;
        z-index: 5;
        position: absolute;
        width: 170px;
        min-height: 70px;
        top: 130px;
        right: 0;
        padding: 10px;
        text-align: center;
    }

    &__name {
        font-family: 'Yeseva One', sans-serif;
        font-size: 13px;
    }

    &__item-text {
        font-size: 11px;
        margin-top: 7px;
        line-height: 11px;
    }
}


//KEYFRAMES
@keyframes menu-open {
    0% {
        transform: scaleY(0);
        transform-origin: 100% 0;
    }

    100% {
        transform: scaleY(1);
        transform-origin: 100% 0;
    }
}

@keyframes menu-close {
    0% {
        transform: scaleY(0);
        transform-origin: 100% 0;
    }

    100% {
        transform: scaleY(1);
        transform-origin: 100% 0;
    }
}
